        body {
            overflow: hidden;
            background-image: url("images/background.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            font-family: 'Lato', sans-serif;
            margin: 16px;
            width: 100%;
            height: 100%;
            /* background: #d4dfff; */
            color: white;
        }
        
        /* profile pic*/
        img[src="images/cb.jpeg"] {
            width: 200px;
            height: auto;
            margin: 12px;
            border-radius: 50%;
        }
  
        #body-container {
            width: 100%;
            height: 100%;
            margin: 20px 30px;
            display: flex;
        }

        #text-container {
            margin: 24px;
        }

        #footer-container {
           display: flex-wrap;
        }
        
        .link{
            margin-right: 28px;
        }

        a {
            font-size: 20px;
            font-weight: bold;
            color:white;
        }

        a:hover {
            text-decoration: underline;
            text-decoration-color: white;
        }